<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>API de Coworkings</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h1>API de Coworkings Nomad</h1>
        <p>Centraliza y gestiona todos los espacios de coworking de la ciudad.</p>
    </header>

    <main>
        <h2>Endpoints disponibles:</h2>
        <ul>
            <li><span class="tag post">POST /api/auth/register</span> - Registrar un nuevo usuario</li>
            <li><span class="tag post">POST /api/auth/login</span> - Iniciar sesión</li>
            <li><span class="tag get">GET /api/coworkings</span> - Obtener todos los coworkings</li>
            <li><span class="tag get">GET /api/coworkings/:id</span> - Obtener un coworking por ID</li>
            <li><span class="tag get">GET /api/coworkings?ciudad=CABA</span> - Filtrar coworkings por ciudad</li>
            <li><span class="tag get">GET /api/coworkings?nombre=Central</span> - Filtrar coworkings por nombre</li>
            <li><span class="tag get">GET /api/coworkings?ordenarPor=nombre&orden=desc</span> - Ordenar coworkings por nombre</li>
            <li><span class="tag post">POST /api/coworkings</span> - Crear un nuevo coworking</li>
            <li><span class="tag put">PUT /api/coworkings/:id</span> - Actualizar un coworking</li>
            <li><span class="tag delete">DELETE /api/coworkings/:id</span> - Eliminar un coworking</li>
        </ul>
    </main>

    <footer>
        <p><strong>Alumna:</strong> Silvana Gurlekian</p>
        <p><strong>Materia:</strong> Aplicaciones Híbridas</p>
        <p><strong>Docente:</strong> [Camila Belén Marcos Galban</p>
        <p><strong>Comisión:</strong> [DWN4AV]</p>
    </footer>
</body>

</html>