.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  color: #256c5d;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


body {
  background-image: url("/public/images/coworking.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0%;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../public/fonts/avenirnextltpro-bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../public/fonts/avenirnextltpro-regular.ttf') format('truetype');
  font-weight: normal;
}

body {
  margin: 0;
  line-height: normal;
  font-family: 'Avenir Next', Arial, sans-serif;
  color: #1E1E1E;
}

.bkg-container {
  background-color: rgba(255, 255, 255, .9);
  padding: 20px;
  border-radius: 12px;
  margin-top: 50px;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.asterisk {
  color: #FF0000;
}

.btn-primary,
.btn-warning {
  background-color: #39A58E;
  outline: none;
  border: 0;
  color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #256c5d;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #39A58E !important;
  border: 0;
  color: #39A58E;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #39A58E;
  color: #FFFFFF;
}

.btn-secondary,
.btn-danger {
  height: 40px;
}

.btn-danger {
  background-color: transparent;
  border: 1px solid #c11b24 !important;
  border: 0;
  color: #c11b24;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #c11b24;
  color: #FFFFFF;
}

.space-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.form-label {
  font-weight: bold;
}
